@charset "UTF-8";
/*---- Reset ----*/
/* Box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  outline: none;
  text-decoration: none;
}

html,
body {
  min-height: 100vh;
  margin: 0 auto;
  line-height: 1.2;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

body,
figure,
picture {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
  }
}

/*---- Utility classes ----*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-inline: auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  margin-inline: auto;
}

.sr-only {
  position: absolute;
  width: 1 px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body > footer {
  position: -webkit-sticky;
  position: sticky;
  top: 100vh;
}

.hero {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-padding-start: 2rem;
          padding-inline-start: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__image {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 60vh;
  position: relative;
}

.hero__title {
  font-size: 2rem;
  color: #f8dbe0;
  z-index: 1;
  max-width: 90vw;
  line-height: 1.1;
}

@media (min-width: 768px) {
  .hero {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__image {
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
    height: 80vh;
  }
  .hero__title {
    font-size: 5rem;
    z-index: 1;
    max-width: 70vw;
    line-height: 1.2;
  }
}

/* ======
  Layout
  ====== */
/* Containers */
.grid {
  text-align: center;
  place-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex__pink {
  background: #f8dbe0;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* product cards */
.flex-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.section-color {
  background-color: #f8dbe0;
}

.news__figure,
.favourite__figure,
.featured__figure,
.product__figure {
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.news__figure > i,
.favourite__figure > i,
.featured__figure > i,
.product__figure > i {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 0.5em;
  font-size: 1.5rem;
  color: #f8dbe0;
}

.news__image,
.favourite__image,
.featured__image,
.product__image {
  max-height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  height: 15rem;
  width: 11rem;
  min-width: 10rem;
}

.news__figure:hover,
.favourite__figure:hover,
.featured__figure:hover,
.product__figure:hover {
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
}

.news__info,
.favourite__info,
.featured__info,
.product__info {
  font-size: "ivypresto-display", serif;
  padding-inline: 0.1em;
  font-family: "degular", sans-serif;
}

.fav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 4rem;
}

.new-products {
  display: -ms-grid;
  display: grid;
  text-align: center;
  place-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 0.3rem;
  margin-top: 2rem;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.news__figure {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.news__image {
  -webkit-transition: -webkit-transform 2s, -webkit-filter 1.5s ease-in-out;
  transition: -webkit-transform 2s, -webkit-filter 1.5s ease-in-out;
  transition: transform 2s, filter 1.5s ease-in-out;
  transition: transform 2s, filter 1.5s ease-in-out, -webkit-transform 2s, -webkit-filter 1.5s ease-in-out;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.news__image:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.edit__thumb {
  width: 10rem;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.edit__thumb__thumb img {
  -webkit-transition: -webkit-transform 2s, -webkit-filter 1.5s ease-in-out;
  transition: -webkit-transform 2s, -webkit-filter 1.5s ease-in-out;
  transition: transform 2s, filter 1.5s ease-in-out;
  transition: transform 2s, filter 1.5s ease-in-out, -webkit-transform 2s, -webkit-filter 1.5s ease-in-out;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.edit__thumb__thumb:hover img {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

/* Singel product */
.detail {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  gap: 5rem;
}

.detail__image {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: auto;
  width: 100%;
  max-width: 90vw;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.detail__info {
  width: 85vw;
  color: #333;
}

.detail__title, .detail__price, .detail__description {
  margin-bottom: 0.2rem;
}

.detail__price {
  font-weight: 200;
}

@media (min-width: 768px) {
  .grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .flex {
    padding-inline: 3rem;
  }
  .new-products {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .favourite__image,
  .news__image,
  .product__image {
    max-height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    height: 20rem;
    width: 15rem;
  }
  .detail {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-inline: 2rem;
    gap: 3rem;
  }
  .detail__figure {
    position: relative;
    z-index: 1;
  }
  .detail__image {
    width: 45vw;
    height: auto;
  }
  .detail__info {
    width: 30vw;
    color: #333;
  }
  .detail__title, .detail__price, .detail__description {
    margin-bottom: 0.2rem;
  }
  .detail__description {
    font-size: 0.8rem;
    margin-top: 3rem;
    max-width: 250px;
  }
  .grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.logo {
  width: 100px;
  margin-left: 3rem;
}

.nav {
  padding: 2em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background-color: #f8dbe0;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  color: #ffcd8c;
}

.nav__link {
  position: relative;
  padding: 0 0.3em;
}

.nav__left, .nav__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__icons i {
  margin-right: 0.4rem;
  font-size: 1.2rem;
}

.nav__content {
  background-color: #f8dbe0;
  font-size: 2.25rem;
  width: 100%;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  bottom: 0;
  right: 100%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.nav__menu {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 8rem;
}

.nav--open {
  cursor: pointer;
  background: transparent;
  font-size: 1.5rem;
}

.nav--close {
  font-size: 2rem;
  padding: 1rem;
  position: absolute;
}

.nav__link::before {
  content: "";
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 3px;
  bottom: -2px;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: #333;
}

.nav__link:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav--open,
.nav--close {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.navigation--open {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.breadcrumbs {
  margin: 0;
  padding-inline: 2rem;
  font-family: "degular", sans-serif;
}

.breadcrumbs li {
  display: inline-block;
  position: relative;
  margin-right: 1em;
}

.breadcrumbs li:after {
  content: "❯";
  position: absolute;
  display: inline-block;
  text-align: center;
  font-weight: 400;
  margin-left: 0.3em;
  font-size: 1rem;
}

.breadcrumbs li:last-child:after {
  content: "";
}

.breadcrumbs li:last-child {
  font-weight: 600;
}

.breadcrumbs a,
.breadcrumbs p {
  display: inline-block;
}

label {
  display: block;
}

form {
  background-color: #f8dbe0;
  max-width: 600px;
  margin: 0 auto;
  padding: 4rem;
  width: 450px;
  border: 5px solid black;
}

input,
textarea {
  padding: 0.5rem;
  border: 2px solid black;
}

textarea {
  height: 100px;
  resize: none;
}

form input,
form textarea {
  width: 100%;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter input {
  width: 250px;
}

.search__input {
  padding: 0.5rem;
  height: 2.5em;
  width: 200px;
  border: 2px solid black;
}

.image-uploadBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}

body {
  font-family: "degular", sans-serif;
  color: #000000;
}

a {
  font-family: "degular", sans-serif;
  color: black;
}

.section__header {
  font-weight: 400;
}

.detail__title {
  font-size: 2.25rem;
  line-height: 1.1;
}

h1 {
  color: #333;
  font-family: "ivypresto-display", serif;
  font-size: 3.75rem;
}

h2 {
  color: #333;
  font-family: "ivypresto-display", serif;
  font-size: 2.875rem;
}

.btn-accent {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8dbe0;
  border: 2px solid #111;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.5em;
  line-height: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 1em;
  position: relative;
  text-align: center;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.btn-accent:after {
  background-color: #111;
  content: "";
  display: block;
  height: 2.5em;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  -webkit-transform: translate(8px, 8px);
          transform: translate(8px, 8px);
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  z-index: -1;
}

.btn-accent:hover:after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.btn__cta--main:active,
.btn-accent:active {
  background-color: #ffdeda;
}

.btn__cta--main:hover {
  background-color: #ffdeda;
}

.btn__cta--main {
  line-height: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4rem;
  width: 250px;
  padding: 1em 0;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8dbe0;
  font-size: 1rem;
  border: 2px solid #111;
  cursor: pointer;
}

.feat-cta {
  border-bottom: black 2px solid;
}

.feat-cta:hover {
  border-bottom: #f8dbe0 2px solid;
}

.fa-shopping-cart {
  margin: 0 5px;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding-bottom: 4rem;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}

#close-button {
  font-size: 2rem;
  padding: 2rem;
  background: transparent;
  border: none;
  left: 0;
  top: 0;
  position: absolute;
}

#imageuploadBtn,
.checkout,
#clear-favs--btn,
#clear-cart {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8dbe0;
  border: 2px solid #111;
  cursor: pointer;
  line-height: 1;
  max-width: 350px;
  padding: 1em 1.5em;
  text-align: center;
}

@media (min-width: 768px) {
  .filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
  .sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f8dbe0;
  padding: 2rem;
  margin-top: 3rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.footer__social, .footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  padding: 0;
}

.copyright {
  text-align: center;
  font-size: 0.8rem;
  padding: 1em;
}

@media (min-width: 850px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__social, .footer__main {
    padding-inline: 4rem;
  }
}

.products-in-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  scrollbar-width: none;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  background: #f8dbe0;
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  text-align: center;
  -webkit-animation: fade 500ms;
          animation: fade 500ms;
  scrollbar-width: none;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

.products-in-cart--btn {
  font-size: 3rem;
  padding: 0em 1em;
  position: absolute;
}

.products-in-cart::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

@-webkit-keyframes fade {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fade {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.products-in-cart ul {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-in-cart__buy-item {
  border-bottom: black 1px solid;
  width: 90%;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.products-in-cart img {
  width: 5rem;
  height: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.shopping-cart #sum-items,
.shopping-cart .sum-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sum-prices {
  padding-left: 0.5em;
}

#sum-items {
  font-size: 1rem;
}

#close-button {
  cursor: pointer;
  color: black;
}

.overlay {
  overflow: hidden;
  display: inline-block;
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: rgba(255, 255, 255, 0.331);
}

.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}

.hidden {
  display: none;
  visibility: none;
}

@media (min-width: 678px) {
  .products-in-cart {
    width: 40vw;
  }
}
/*# sourceMappingURL=style.css.map */