body > footer {
  position: sticky;
  top: 100vh;
}

.hero {
  width: 100vw;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    padding-inline-start: 2rem;
    justify-content: space-around;
  }

  &__image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
  }

  &__title {
    font-size: 5rem;
    color: $accent;
    z-index: 1;
    max-width: 90vw;
    line-height: 1.1;
  }
}

@media (min-width: 768px) {
  .hero {
    width: 100vw;
    display: flex;
    flex-direction: column;

    &__image {
      background-size: cover;
      background-position: center left;
      background-repeat: no-repeat;
      height: 80vh;
    }

    &__title {
      font-size: 5rem;
      z-index: 1;
      max-width: 70vw;
      line-height: 1.2;
    }
  }
}

@media (min-width: 900px) {
}
