// @mixin btn-cta($color, $shadowColor, $borderWidth: 2px) {
//   position: relative;

//   padding: 1rem 2rem 0.5rem 2.5rem;

//   color: $color;
//   border: $borderWidth solid $color;
//   transition: padding 0.3s ease-in-out;
// }
.nav--open,
.nav--close {
  background: none;
  border: none;
  cursor: pointer;
  color: $main;
}

#close-cart {
  font-size: 1.5rem;
  padding: 2rem;
  background: transparent;
  color: $main;
  border: none;
  cursor: pointer;
  left: 0;
  top: 0;
  position: absolute;
}

.btn--accent {
  align-items: center;
  background-color: $accent;
  border: 2px solid $main;
  color: $main;
  cursor: pointer;
  display: flex;
  height: 2.5em;
  line-height: 1;
  justify-content: center;
  width: 100%;
  padding: 0 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn--accent a {
  color: $text;
}

.btn--accent:after {
  background-color: $main;
  content: "";
  display: block;
  height: 2.5em;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(6px, 5px);
  transition: transform 250ms ease-out;
  z-index: -1;
}

.btn--accent:hover:after {
  transform: translate(0, 0);
}

.btn__cta--main:active,
.btn-accent:active {
  background-color: $main;
}

.btn--delete {
  align-items: center;
  background-color: $main;
  border: 2px solid $main;
  color: $light;
  cursor: pointer;
  display: flex;
  height: 2.5em;
  line-height: 1;
  justify-content: center;
  width: 100%;
  padding: 0 1em;
  position: relative;
  text-align: center;
}

.btn__cta--main {
  line-height: 1;
  justify-content: center;
  width: 250px;
  padding: 1em 0;
  position: relative;
  align-items: center;
  background-color: $accent;
  font-size: $fs-base;
  border: $accent;
  color: $main;
  cursor: pointer;
}

.btn__cta--main:hover {
  background-color: $main;
  color: $light;
  transition: 250ms ease-in-out;
}

.feat-cta {
  border-bottom: $main 2px solid;
}

.feat-cta:hover {
  border-bottom: $accent 2px solid;
}

.filters {
  display: flex;
  color: $main;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 4rem;
}

.sort {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.btn--primary {
  align-items: center;
  background-color: $accent;
  border: 2px solid $main;
  color: $main;
  cursor: pointer;
  line-height: 1;
  max-width: 350px;
  padding: 1em 1.5em;
  text-align: center;
}

.btn--primary {
  background-color: $main;
  color: $light;
  transition: 250ms ease-in-out;
}

#logout {
  background-color: $accent;
  padding: 0.2rem;
  color: $main;
}

@media (min-width: 768px) {
  .filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .sort {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
