.products-in-cart {
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  background: $accent;
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  text-align: center;
  animation: fade 500ms;
  scrollbar-width: none;
  width: 100vw;
  height: 100vh;
  padding: 1rem 1rem 5rem 1rem;
  font-size: $fs-h4;
}

.products-in-cart::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

@keyframes fade {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: none;
  }
}

// .products-in-cart-header {
//   width: 100%;
// }

.products-in-cart ul {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// #buy-items {
//   display: flex;
//   flex-direction: row;
// }
.products-in-cart__buy-item {
  border-bottom: $main 1px solid;
  width: 90%;
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
}

.products-in-cart img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}

.shopping-cart #sum-items,
.shopping-cart #sum-prices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#sum-prices {
  font-size: 1.5rem;
}

#sum-items {
  font-size: 1rem;
  padding-left: 0.2em;
}

.overlay {
  overflow: hidden;
  display: inline-block;
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: rgba(255, 255, 255, 0.331);
}

// .buy-item .btn {
//   background: transparent;
//   border: none;
//   font-size: 1.5rem;
//   margin-left: 10px;
//   cursor: pointer;
// }

.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}

// .buy-item h4 {
//   margin-bottom: 10px;
// }

// .products-in-cart__buy-item > div {
//   padding: 0 20px;
// }

// .products-in-cart .empty {
//   justify-self: center;
//   // margin: 150px auto;
// }

.hidden {
  display: none;
  visibility: none;
}

@media (min-width: 678px) {
  .products-in-cart {
    width: 40vw;
  }
}
