.products-in-cart {
  &--btn {
    font-size: 3rem;
    padding: 0em 1em;
    position: absolute;
  }

  &--header {
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }
}

.products-in-cart {
  scrollbar-width: none;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  background: $accent;
  z-index: 4;
  position: fixed;
  top: 0;
  right: 0;
  text-align: center;
  animation: fade 500ms;
  scrollbar-width: none;
  // background-color: #ffffff;
  width: 100vw;
  height: 100vh;
}

.products-in-cart::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

@keyframes fade {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: none;
  }
}

.products-in-cart-header {
  width: 100%;
}

.products-in-cart ul {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// #buy-items {
//   display: flex;
//   flex-direction: row;
// }
.products-in-cart__buy-item {
  border-bottom: rgb(0, 0, 0) 1px solid;
  width: 90%;
  padding: 10px 0;
  display: flex;
  gap: 1rem;
}

.products-in-cart img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

// .shopping-cart {
// }

.shopping-cart #sum-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.shopping-cart .sum-prices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#sum-prices {
  padding-left: 0.5em;
}

#sum-items {
  font-size: 1rem;
}

#close-button {
  cursor: pointer;
  color: black;
}

.overlay {
  overflow: hidden;
  display: inline-block;
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: rgba(255, 255, 255, 0.331);
}

.buy-item .btn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  margin-left: 10px;
  cursor: pointer;
}

.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}

// .buy-item h4 {
//   margin-bottom: 10px;
// }

// .products-in-cart__buy-item > div {
//   padding: 0 20px;
// }

.products-in-cart .empty {
  justify-self: center;
  margin: 150px auto;
}

.hidden {
  display: none;
  visibility: none;
}

@media (min-width: 678px) {
  .products-in-cart {
    width: 40vw;
  }
}
