footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding: 2rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__social,
  &__main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    --link {
      margin-right: 1em;
    }
  }
}

.copyright {
  text-align: center;
  font-size: 0.8rem;
  padding: 1em;
}

@media (min-width: 850px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
  }
}
