label {
  display: block;
  margin-bottom: 0.5rem;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 4rem;
  background: $accent;
  width: 350px;
  color: black;
}

input,
textarea {
  padding: 0.5em;
  border: 2px solid $sub;
}

textarea {
  height: 100px;
  resize: none;
}

form input,
form textarea {
  width: 100%;
  color: var(--clr-main-dark);
}

form > div {
  margin-bottom: 1rem;
}

.search {
  &__input {
    padding: 0.2rem;
    width: 150px;
    border: 2px solid black;
  }
}

@media (min-width: 850px) {
}
