label {
  display: block;
  margin-bottom: 0.5rem;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 4rem;
  background: $accent;
  width: 350px;
  color: black;
}

input,
textarea {
  padding: 0.5em;
  border: 2px solid black;
}

textarea {
  height: 100px;
  resize: none;
}

form input,
form textarea {
  width: 100%;
}

form > div {
  margin-bottom: 1rem;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search {
  &__input {
    padding: 0.5rem;
    height: 2.5em;
    width: 200px;
    border: 2px solid black;
  }
}

.sign-up {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
@media (min-width: 850px) {
}
