.grid {
  text-align: center;
  place-items: center;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  align-items: top;
}

.flex {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* product cards */

.flex-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: left;
}

.all-products {
  gap: 0 2.3rem;
}

.news,
.favourite,
.featured,
.product {
  &__figure {
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.2s all ease-in-out;
  }

  &__figure > i {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 0.5em;
    font-size: $fs-h4;
    color: $accent;
  }

  &__image {
    max-height: auto;
    object-fit: cover;
    height: 20rem;
    width: 20rem;
    max-width: 100%;
    min-width: 10rem;
  }

  &__figure:hover {
    filter: brightness(1.05);
  }

  &__info {
    font-size: $ff-base;
    padding-inline: 0.1em;
    font-family: $ff-text;
  }
}

.fav-container {
  margin-top: 4rem;
  gap: 0 2.2rem;
}

.new-products {
  display: grid;
  text-align: center;
  place-items: center;
  grid-template-columns: 1fr;
  gap: 0.3rem;
  margin-top: 2rem;
  align-items: top;
}

.news {
  &__figure {
    object-fit: cover;
    overflow: hidden;
  }

  &__image {
    transition: transform 2s, filter 1.5s ease-in-out;
    filter: brightness(0.8);
  }

  &__image:hover {
    filter: brightness(1);
    transform: scale(1.2);
  }
}

.edit-products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.edit {
  &__thumb {
    width: 9rem;
    height: 10rem;
    object-fit: cover;

    &__thumb img {
      transition: transform 2s, filter 1.5s ease-in-out;
      transform-origin: center center;
      filter: brightness(50%);
    }

    &__thumb:hover img {
      filter: brightness(100%);
      transform: scale(1.3);
    }
  }
}

.admin {
  margin-top: 6rem;
}

/* Singel product */

.detail {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: left;
  gap: 5rem;

  &__image {
    object-fit: cover;
    max-height: auto;
    width: 100%;
    max-width: 90vw;
    transition: 0.5s all ease-in-out;
  }

  &__info {
    width: 85vw;
    color: $sub;
  }

  &__title,
  &__price,
  &__description {
    margin-bottom: 0.2rem;
  }

  &__price {
    font-weight: 200;
  }
}

.newsletter {
  display: flex;
  flex-direction: column;
}

/* ======
  Media queries
  ====== */

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .flex {
    padding-inline: 3rem;
  }

  .new-products {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .edit-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  .edit {
    &__thumb {
      width: 12rem;
      height: 14rem;
    }
  }

  .favourite,
  .news,
  .product {
    &__image {
      max-height: auto;
      object-fit: cover;
      height: 20rem;
      width: 15rem;
    }
  }
  .detail {
    flex-direction: row;
    justify-content: space-evenly;
    padding-inline: 2rem;
    gap: 3rem;

    &__figure {
      position: relative;
      z-index: 1;
    }

    &__image {
      width: 45vw;
      height: auto;
    }

    &__info {
      width: 30vw;
      color: $sub;
    }

    &__title,
    &__price,
    &__description {
      margin-bottom: 0.2rem;
    }

    &__description {
      font-size: 0.8rem;
      margin-top: 3rem;
      max-width: 250px;
    }
  }
}

@media (min-width: 900px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
