/* ======
  Layout
  ====== */

/* Containers */

#main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-container {
  text-align: center;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
  align-items: top;
  // padding-inline: 1rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-inline: 2rem;
}

.carousel__wrap {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // padding: 0 4rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  max-width: 80vw;
  padding-left: 0px;
}

.featured-products {
  display: flex;
  flex-direction: row;
  overflow: auto;
  align-items: center;
  width: 100%;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-padding: 50%;
  padding: 1em 0em;
}

.featured {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  width: 20rem;
  height: 20rem;
  margin-right: 1.5em;
  margin-left: 1em;
  padding-bottom: 1em;
  overflow: hidden;
  scroll-snap-align: center;
}

.featured img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  transition: transform 0.5s ease;
}

// .featured-title {
//   display: flex;
//   flex-direction: column;
//   background-color: $main;
//   padding: 2rem;
//   height: 15rem;
// }

// .section {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 100vw;
// }

/* product cards */

.flex-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: left;
}
.section__color {
  background-image: url(/images/GRAIN_HOLORAM_WALLPAPER_05.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 1em;
}
.favourite,
// .featured,
.product {
  &__figure {
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.2s all ease-in-out;
  }

  &__figure > i {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    padding: 0.5em;
    font-size: $fs-h4;
    color: $accent;
  }

  &__image {
    max-height: auto;
    object-fit: cover;
    height: 13rem;
    width: 10rem;
  }

  &__figure:hover {
    filter: brightness(1.05);
  }

  &__info {
    font-size: $ff-base;
    padding-inline: 0.1em;
    font-weight: 200;
    font-family: $ff-accent;
  }
}

.edit {
  &__thumb {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
  }
}

/* Singel product */

.detail-card {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: left;
  gap: 2rem;
}

.detail {
  &__image {
    object-fit: cover;
    max-height: auto;
    width: 100%;
    max-width: 90vw;
    transition: 0.5s all ease-in-out;
  }

  &__info {
    width: 85vw;
    color: $sub;
  }

  &__title,
  &__price,
  &__description {
    margin-bottom: 0.2rem;
  }

  &__price {
    font-weight: 200;
  }
}

// #featured-slider {
//   height: 60vh;
//   position: relative;
// }

// #featured__container {
// }

// #featured-slider__nav {
// }

// #featured-slider__nav--left {
// }

// #feature-slider__nav--right {
// }

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }

  // .featured__div {
  //   display: flex;
  //   flex-direction: row;
  //   align-items: top;
  //   padding: 0 4rem;
  // }

  .favourite,
  // .featured,
  .product {
    &__image {
      max-height: auto;
      object-fit: cover;
      height: 15rem;
      width: 15rem;
    }
  }
  .detail-card {
    flex-direction: row;
    justify-content: space-between;

    // overflow: hidden;
  }

  .detail {
    &__figure {
      position: relative;
      z-index: 1;
    }

    &__image {
      width: 50vw;
      height: 30rem;
      max-width: 30rem;
    }

    &__info {
      width: 30vw;
      color: $sub;
    }

    &__title,
    &__price,
    &__description {
      margin-bottom: 0.2rem;
    }

    &__description {
      font-size: 0.8rem;
      margin-top: 3rem;
      max-width: 250px;
    }
  }
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
