.message {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid grey;
  color: grey;
}

.message--error {
  border-color: $warning;
  color: $light;
  background: $warning;
}

.message--warning {
  border-color: $warning;
  color: $light;
  background: $warning;
}

.message--success {
  border-color: $success;
  color: $light;
  background: $success;
}

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0 40vw;
  align-self: center;
}

.loader::after {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 8px solid $main;
  border-color: $main transparent $main transparent;
  animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
