.top__header {
  background: $light;
  display: flex;
  flex: row;
  justify-content: right;
  align-items: center;
  padding: 0.3em 1em 0.3em 0.3rem;
  gap: 0.3rem;
}

#logout {
  border: none;
}

.nav {
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: $accent;

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    color: $main;
  }

  &__link {
    position: relative;
    // padding: 0 0.1em;
  }

  &__left,
  &__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__icons i {
    margin-left: 0.4rem;
    font-size: 1.2rem;
    color: $main;
  }

  &__content {
    background-color: $accent;
    font-size: $fs-h3;
    width: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    bottom: 0;
    right: 100%;
    transform: translateX(0);
    transition: 500ms ease-in-out;
  }

  &__menu {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 8rem;
  }

  &--open {
    cursor: pointer;
    background: transparent;
    font-size: 1.5rem;
  }

  &--close {
    font-size: 1.5rem;
    padding: 1rem;
    position: absolute;
  }
}

.nav__link::before {
  content: "";
  position: absolute;
  visibility: hidden;
  width: 10rem;
  height: 3px;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out;
  background: $main;
}

.nav__link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.navigation--open {
  transform: translateX(100%);
}

.fa-shopping-cart {
  margin: 0;
}

.breadcrumbs {
  font-family: $ff-text;
  padding-left: 1rem;
}

.breadcrumbs li {
  display: inline-block;
  position: relative;
  margin-right: 1em;
}

.breadcrumbs li:after {
  content: "❯";
  position: absolute;
  display: inline-block;
  text-align: center;
  font-weight: 400;
  margin-left: 0.3em;
  font-size: $fs-base;
}

.breadcrumbs li:last-child:after {
  content: "";
}

.breadcrumbs li:last-child {
  font-weight: 600;
}

.breadcrumbs a,
.breadcrumbs p {
  display: inline-block;
}

@media (min-width: 768px) {
}
