body {
  font-family: $ff-text;
  color: $text;
}

a {
  font-family: $ff-text;
  color: black;
}

.section {
  &__header {
    font-weight: 400;
  }
}

.detail {
  &__title {
    font-size: $fs-h3;
    line-height: 1.1;
  }
}

h1 {
  color: $accent;
  font-family: $ff-base;
}
