body {
  font-family: $ff-text;
  color: $main;
}

a {
  font-family: $ff-text;
  color: $main;
}

// .section {
//   &__header {
//     font-weight: 400;
//   }
// }

.detail {
  &__title {
    font-size: $fs-h3;
    line-height: 1.1;
  }
}

h1 {
  color: $main;
  font-family: $ff-base;
  font-size: $fs-h1;
}

h2 {
  color: $main;
  font-family: $ff-base;
  font-size: $fs-h2;
}
